In [9]:
import numbers
from sklearn.preprocessing import minmax_scale
from numpy.random import *
from random import *
import numpy as np
import pandas as pd
from math import *
from Code.Metriques import *
from Code.Outils import *
from kmodes.kprototypes import KPrototypes
from statistics import *

## Extraction des données

In [2]:
Df = pd.read_csv("Code/Données/bank.csv",sep=";")

Rand Index correspond à la proportion des paires d'éléments qui sont conjointement groupées ou conjointement séparées.
Aide : https://fr.wikipedia.org/wiki/Indice_de_Rand#:~:text=L'indice%20de%20Rand%20est,'accord)%20entre%20deux%20partitions.

## Fonction KPrototypes

In [3]:
def KPrototype(K,data,max_iter,gamma):
    """
    Renvoie les centres, les clusters et les labels des K clusters de data
    """
    # Tri des clés ayant des valeurs catégoriques et numériques
    number_keys = []
    categorical_keys = []
    
    for k in data :
        if isinstance(data.iloc[0][k],numbers.Real) :
            number_keys.append(k)
        else:
            categorical_keys.append(k)
    
    # Préparation des 2 ensembles de données
    categorical = data[categorical_keys]
    numerical = pd.DataFrame(minmax_scale(np.array(list(list(data[k]) for k in number_keys))).T,columns=number_keys)
    
    dataset = pd.concat([numerical,categorical],axis=1)
    centers = dataset.iloc[sample(range(0,data.shape[0]),K)] 
    
    i = 0
    not_centers_same = True
    
    while (i!=max_iter and not_centers_same):
        label = []
        i+=1
        
        # Remise à zéro des clusters
        cluster = dict((i,pd.DataFrame(columns=(number_keys+categorical_keys))) for i in range(K))
        
        for d in range(data.shape[0]):
            value_clusters = []
            for i in range(K):
                distance = np.linalg.norm(np.array(numerical.iloc[d])-np.array(centers.iloc[i][number_keys]))+gamma*dissimilarity(centers.iloc[i][categorical_keys],categorical.iloc[d])
                value_clusters.append((distance,i))
            
            minimum_center = min(value_clusters)
            cluster[minimum_center[1]].loc[len(cluster[minimum_center[1]])] = dataset.iloc[d]
            label.append(minimum_center[1])
          
        
        # Recalcule les centres
        new_centers= [new_centroid_KProt(cluster[i],number_keys,categorical_keys) for i in range(K)]
        new_centers = pd.concat(new_centers,axis=0)
        
        if (np.array_equal(new_centers,centers)): 
            not_centers_same = False
        else:
            centers=new_centers
        
    return (new_centers,cluster,label)

## Utilisation

### Bank Data

In [4]:
Df = pd.read_csv("Code/Données/bank.csv",sep=";")

In [7]:
Df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [6]:
cat = []
i = 0
for k in Df:
    if not(isinstance(Df[k].iloc[0],numbers.Real)):
        cat.append(i)
    i+=1

In [7]:
rd = []
acc = []
for exp in range(1,5):
    print(exp)
    km = KPrototypes(n_clusters=exp,n_init=10,gamma=1)
    clusters = km.fit_predict(Df,categorical=cat)
    _,_,label= KPrototype(exp,Df,10,1)
    acc.append(Accuracy(km.labels_,label))
    rd.append(rand_index(km.labels_,label))

1
2
3
4

In [10]:
mean(acc),pstdev(acc)

NameError: name 'mean' is not defined

In [ ]:
mean(rd),pstdev(rd)

### Vote

In [ ]:
Df = pd.read_csv("Code/Données/house-votes-84.csv",sep=";")

In [ ]:
rd = []
acc = []
for exp in range(1,4):
    print(exp)
    km = KPrototypes(n_clusters=exp,n_init=10,gamma=1)
    clusters = km.fit_predict(Df,categorical=cat)
    _,_,label= KPrototype(exp,Df,10,1)
    acc.append(Accuracy(km.labels_,label))
    rd.append(rand_index(km.labels_,label))

In [ ]:
mean(acc),pstdev(acc)

In [ ]:
mean(rd),pstdev(rd)

### Credit Approval

In [ ]:
Df = pd.read_csv("Code/Données/credit-approval.csv",sep=";")

In [ ]:
rd = []
acc = []
for exp in range(1,4):
    print(exp)
    km = KPrototypes(n_clusters=exp,n_init=10,gamma=1)
    clusters = km.fit_predict(Df,categorical=cat)
    _,_,label= KPrototype(exp,Df,10,1)
    acc.append(Accuracy(km.labels_,label))
    rd.append(rand_index(km.labels_,label))

In [ ]:
mean(rd),pstdev(rd)

In [ ]:
mean(acc),pstdev(acc)

** Remarque: quand les données ne sont pas normalisé, les clusters ne sont pas équilibré, il y a tout dans un même cluster **
- Revoir: choix des points aléatoire au début

Lien pour vérifier AdjustedRandIndex https://scikit-learn.org/stable/modules/generated/sklearn.metrics.adjusted_rand_score.html

Lien avec lequel je m'aide:
https://en.wikipedia.org/wiki/Rand_index