In [1]:
import numbers
from sklearn.preprocessing import minmax_scale
from numpy.random import *
from random import *
import numpy as np
import pandas as pd
from math import *
from Metriques import *
from Outils import *
from statistics import *
from KPrototypes import *

In [2]:
Data = pd.read_csv("Données/bank.csv",sep=";")

In [3]:
Df = Data.copy()

In [4]:
Df[Df.isna().any(axis=1)]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [5]:
Df.shape

(4521, 17)

In [6]:
type(Df['age'][0])

numpy.int64

In [7]:
Data = pd.read_csv("Données/house-votes-84.csv",sep=",")
Df = Data.copy()

In [8]:
Df[Df.isna().any(axis=1)]

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,class
71,b,34.83,4.000,u,g,d,bb,12.500,t,f,0,t,g,NaN,0,-
83,a,NaN,3.500,u,g,d,v,3.000,t,f,0,t,g,300.0,0,-
86,b,NaN,0.375,u,g,d,v,0.875,t,f,0,t,s,928.0,0,-
92,b,NaN,5.000,y,p,aa,v,8.500,t,f,0,f,g,0.0,0,-
97,b,NaN,0.500,u,g,c,bb,0.835,t,f,0,t,s,320.0,0,-
202,b,24.83,2.750,u,g,c,v,2.250,t,t,6,f,g,NaN,600,+
206,a,71.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
243,a,18.75,7.500,u,g,q,v,2.710,t,t,5,f,g,NaN,26726,+
248,NaN,24.50,12.750,u,g,c,bb,4.750,t,t,2,f,g,73.0,444,+
254,b,NaN,0.625,u,g,k,v,0.250,f,f,0,f,g,380.0,2010,-
270,b,37.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
278,b,24.58,13.500,y,p,ff,ff,0.000,f,f,0,f,g,NaN,0,-
286,a,NaN,1.500,u,g,ff,ff,0.000,f,t,2,t,g,200.0,105,-
327,NaN,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,1160.0,0,-
329,b,NaN,4.000,y,p,i,v,0.085,f,f,0,t,g,411.0,0,-
330,b,20.42,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
346,NaN,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,372.0,122,-
374,NaN,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,260.0,1004,-
406,a,40.33,8.125,y,p,k,v,0.165,f,t,2,f,g,NaN,18,-
445,a,NaN,11.250,u,g,ff,ff,0.000,f,f,0,f,g,NaN,5200,-
450,b,NaN,3.000,y,p,i,bb,7.000,f,f,0,f,g,0.0,1,-
453,NaN,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,300.0,0,-
456,b,34.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
479,NaN,26.50,2.710,y,p,NaN,NaN,0.085,f,f,0,f,s,80.0,0,-
489,NaN,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,263.0,0,-
500,b,NaN,4.000,u,g,x,v,5.000,t,t,3,t,g,290.0,2279,+
515,b,NaN,10.500,u,g,x,v,6.500,t,f,0,f,g,0.0,0,+
520,NaN,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,160.0,234,+
539,b,80.25,5.500,u,g,NaN,NaN,0.540,t,f,0,f,g,0.0,340,-
592,b,23.17,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
598,NaN,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,240.0,768,+
601,NaN,42.25,1.750,y,p,NaN,NaN,0.000,f,f,0,t,g,150.0,1,-
608,b,NaN,0.040,y,p,d,v,4.250,f,f,0,t,g,460.0,0,-
622,a,25.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
626,b,22.00,7.835,y,p,i,bb,0.165,f,f,0,t,g,NaN,0,-
641,NaN,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,200.0,141,-
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,256.0,17,-

In [9]:
Df.iloc[1].isna().any()

False

In [10]:
numerical = []
    
for k in Df :
    if isinstance(Df.iloc[0][k],numbers.Real) :
        numerical.append(k)

for i in range(len(Df)):
    if (Df.iloc[i].isna().any()):
        for k in numerical :
            if pd.isna(Df.iloc[i][k]):
                Df.loc[i,k] = Df[k].mean()

In [11]:
print(Df['A2'].mean())

31.56817109144546

In [12]:
Df[Df.isna().any(axis=1)]

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,class
206,a,71.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,+
248,NaN,24.50,12.750,u,g,c,bb,4.750,t,t,2,f,g,73.000000,444,+
270,b,37.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,+
327,NaN,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,1160.000000,0,-
330,b,20.42,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,-
346,NaN,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,372.000000,122,-
374,NaN,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,260.000000,1004,-
453,NaN,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,300.000000,0,-
456,b,34.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,-
479,NaN,26.50,2.710,y,p,NaN,NaN,0.085,f,f,0,f,s,80.000000,0,-
489,NaN,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,263.000000,0,-
520,NaN,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,160.000000,234,+
539,b,80.25,5.500,u,g,NaN,NaN,0.540,t,f,0,f,g,0.000000,340,-
592,b,23.17,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,+
598,NaN,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,240.000000,768,+
601,NaN,42.25,1.750,y,p,NaN,NaN,0.000,f,f,0,t,g,150.000000,1,-
622,a,25.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,184.014771,0,+
641,NaN,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,200.000000,141,-
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,256.000000,17,-

In [13]:
def silhouette(cluster,gamma):
    numerical = []
    categorical = []
    
    for k in cluster[0] :
        if isinstance(cluster[0].iloc[0][k],numbers.Real) :
            numerical.append(k)
        else:
            categorical.append(k)
    
    sc = 0
    for c in range(len(cluster)):
        sc_ = 0
        for i in range(len(cluster[c])):
            ai = sum([gamma_distance(cluster[c].iloc[i],cluster[c].iloc[a],gamma,numerical,categorical) for a in range(len(cluster[c]))])/(len(cluster[c])-1)
            bi = []
            for oc in range(len(cluster)): 
                if c!=oc :
                    bi.append(sum([gamma_distance(cluster[c].iloc[i],cluster[oc].iloc[b],gamma,numerical,categorical) for b in range(len(cluster[oc]))])/len(cluster[oc])) 
            
            sc_ += (min(bi)-ai)/max(ai,min(bi))
        sc += sc_/len(cluster[c])
    s = sc/len(cluster) 
    return s

In [14]:
def gamma_distance(pointA,pointB,gamma,numericalKeys,categoricalKeys) :
    res = np.linalg.norm(np.array(pointA[numericalKeys])-np.array(pointB[numericalKeys]))+gamma*dissimilarity(pointB[categoricalKeys],pointA[categoricalKeys])
    return res

In [15]:
_,cluster,_ = KPrototype(2,Df,10,1.5)

In [ ]:
silhouette(cluster,1.5)